<div class="explorer-files-container">
  <div class="files-scroll">

    @if (canGoUp()) {
    <div class="files-toolbar">
      <button pButton icon="pi pi-arrow-up" class="p-button-text" (click)="goUp()" label="Up">
      </button>
    </div>
    }

    @if (folderContent().length > 0) {
    <p-table [value]="folderContent()" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:40%">Name</th>
          <th style="width:20%">Type</th>
          <th style="width:20%">Preview</th>
          <th style="width:20%">Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item>
        <tr (dblclick)="onItemDoubleClick(item)" [attr.data-id]="item?.id" [class.folder-row]="isFolder(item)">

          <td class="name-cell">
            <i [ngClass]="getIcon(item)" class="mr-2"></i>
            {{ item.name }}
          </td>

          <td class="type-cell">{{ getTypeLabel(item) }}</td>

          <td class="preview-cell">
            @if (isFile(item) && item.preview && item.previewKind === PreviewKind.Image) {
            <img [src]="getPreviewImageSrc(item)" [alt]="item.name + ' preview'" class="file-preview" />
            }
            @if (isFile(item) && item.preview && item.previewKind === PreviewKind.Text) {
            <div class="text-preview">
              {{ getPreviewText(item) }}
            </div>
            }
          </td>

          <td class="actions-cell">
            @if (isFile(item)) {
            <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-sm" title="Rename"
              (click)="onRenameFileClicked(item, $event)">
            </button>
            }
            @if (isFile(item)) {
            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-sm p-button-danger" title="Delete"
              (click)="onDeleteFileClicked(item, $event)">
            </button>
            }
          </td>
        </tr>
      </ng-template>
    </p-table>
    }
    @else {
    <div class="empty-folder">
      Empty folder
    </div>
    }

  </div>
</div>